.audio-element {
	margin-bottom: .5em;
}

.audio-element .btn {
	margin-right: .5em;
}

#timer {
	float: right;
	font-size: 1.6em;
}

.recorder-container {
	padding: 1em;
	border: 1px solid #2C3E50;
	border-radius: .5em;
}